*{
    margin: 0px;
    padding: 0px;;
}

h1{
    color: turquoise;
    background-color: black;
    padding: 5px 10px;
    font-family: cursive;
    margin: 10px;
    
}

span{
    color:white;
}

h2{
    color: white;
    background-color: blueviolet;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

h3{
    background-color: rgba(114, 161, 247, 0.71);
    text-align: right;
    padding: 5px 15px;
    font-style: normal;
    font-family: cursive;
    text-decoration: underline;
    margin: 10px;
}